* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'argesta_displayregular';
    src: url('argestadisplay-regular-webfont.eot');
    src: url('argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('argestadisplay-regular-webfont.woff2') format('woff2'),
         url('argestadisplay-regular-webfont.woff') format('woff'),
         url('argestadisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'argesta_displayregular', Georgia;
    background: #111111;
    margin: 0;
    padding: 0;



}

.game-container {
 
}

h3 { 
    font-size: 2em;
}
.hp-container {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    color: #f1f1f1;

}

#gamestateDisplay {
    display: block;
    margin: 0 auto;
    border-radius: 2em;
    max-width: 700px;
}

.hp-gallows {
    margin: 0 auto;
}

.hp-gallows > img {
    border-radius: 2em;
}

.hp-hangman-container {
    max-width: 900px;
    width: 75%;
}

#letters {
    color: white;
    margin: 0 auto;
    text-align: center;
}

#responseOutput {
    color: white;
    text-align: center;
    /* border: 1px solid red; */
}

#link-container {
    margin: 0 auto;
    /* display: block; */
    /* border: 1px solid red; */
    text-align: center;
}

.gamebutton {
    border: 1px solid white;
    color: #f1f1f1;
    text-decoration: none;
    padding: .4em;
    border-radius: .2em;
    margin: 0 auto;
    cursor: pointer;
    /* display: block; */

}
.ascii-title {
    display: none;
}

.hp-title {
    color: white;
    text-align: center;
    font-size: 3em;
}

.sub {
    text-align: center;
    color: white;
    font-style: italic;
}

#scoreDisplay {
    color: white;
    margin: 0 auto;
    text-align: center;
}

/* for mobile devices, because this won't work at all otherwise */
.mobileInput {
    display: none;
    min-height: 4em;
    width: 5em;
    border: 1px solid white;
    color: #f1f1f1;
    text-decoration: none;
    padding: .4em;
    /* border-radius: .2em; */
    margin: 2em auto;
    background: #1f1f1f;
    /* display: block; */

}

input[type='text'],
input[type='number'],
textarea {
  font-size: 2em;
}

@media screen and (max-width: 1100px)
{
    .mobileInput {
        display: block;
    }
}

@media screen and (max-width: 900px)
{
    #gamestateDisplay {
   
        max-width: 80vw;
    }
}