* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}

@font-face {
    font-family: 'argesta_displayregular';
    src: url('argestadisplay-regular-webfont.eot');
    src: url('argestadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('argestadisplay-regular-webfont.woff2') format('woff2'),
         url('argestadisplay-regular-webfont.woff') format('woff'),
         url('argestadisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body {
    font-size: 1.1em;
    background: #111111;
    margin: 0;
    padding: 0;
    color: white;

}

.ascii-title {
    max-width: 900px;

    /* font-size: .5em; */
    /* display: block; */
    /* display: inline-block; */
    /* border: 1px solid red; */
    display: block;
    margin: 0 15% 0 15%;
    padding-top: 1em;


}

.gallows {
    margin: 0 auto;
    display: block;
    font-size: 1.0em;
    /* border: 1px solid red; */

}

#responseOutput {
    /* border: 1px solid red; */
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    color: white !important;
    
    /* text-decoration: underline; */
    /* text-align: center; */
}

pre {


}

#letters {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    
}

#showKey {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

#scoreDisplay {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    
    /* border: 1px solid red; */
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.gamebutton {
    border: 1px solid white;
    color: #f1f1f1;
    text-decoration: none;
    padding: .4em;
    border-radius: .2em;
    margin: 0 auto;
    cursor: pointer;
    /* display: block; */

}

.extended {
    padding: .4em 2.5em .4em 2.5em;
}

#link-container {
    display: block;
    margin: 0 auto;
    text-align: center;

}

#gamestateDisplay {
    border: 3px double #f1f1f1;
    /* border: 2px dotted #000; */
    max-width: 500px;
    /* max-width: 35vw; */
    /* min-height: 10vh; */
    padding: 0 25% 0 0;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    display: block;
}

.manual-word {

    min-height: 4em;
    width: 20em;
    border: 5px double white;
    color: #f1f1f1;
    text-decoration: none;
    padding: .4em;
    /* border-radius: .2em; */
    margin: 2em auto;
    background: #1f1f1f;
    display: block;
    /* font-size: 2em; */
}
.manual-word:focus {
    outline: none;
}

.game-container {
    margin: 0 auto;
    max-width: 900px;
    height: 100vh;
    border-left: 3px double #f1f1f1;
    border-right: 3px double #f1f1f1;
}

/* for mobile devices, because this won't work at all otherwise */
.mobileInput {
    display: none;
    min-height: 4em;
    width: 5em;
    border: 1px solid white;
    color: #f1f1f1;
    text-decoration: none;
    padding: .4em;
    /* border-radius: .2em; */
    margin: 2em auto;
    background: #1f1f1f;
    /* display: block; */

}



p {
    text-align: center;
    font-style: italic;
    font-size: .8em;
}

.intro-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border: 1px solid red; */

}

.ascii-mode {
    font-family: 'Courier New', Courier, monospace;
    color: #f1f1f1;
    border-right: 1px solid #F1F1F1;
    font-size: 2.2em;
}

.potter-mode {
    font-family: 'Courier New', Courier, monospace;
    color: #f1f1f1;
    border-left: 1px solid #F1F1F1;
    font-family: 'argesta_displayregular';
    font-size: 2em;
}

.ascii-mode:hover, .potter-mode:hover
{
    color: goldenrod;
    cursor: pointer;
}


.mode-container {
    /* border: 1px solid red; */
    margin: 0 auto;
    height: 200px;
    text-align: center;
    width: 600px;
}
.hang {
    font-family: 'Courier New', Courier, monospace;
    color: #f1f1f1;
    float: left;
    /* border-right: 2px solid #f1f1f1; */
    width: 280px;
}

.man {
    /* border-left: 2px solid #f1f1f1; */
    font-family: 'argesta_displayregular';
    color: #f1f1f1;
    float: left;
    font-size: 8em;
}

.hp-title {
    display: none;
}

@media screen and (max-width: 1100px)
{
    .mobileInput {
        display: block;
    }
}

@media screen and (max-width: 900px)
{
    .mode-container {
        width: 100vw;
        /* border: 5px solid red; */
    }
    .game-container {
        width: 100vw;
    }
    .ascii-title {
        font-size: .5em;
        text-align: left;
    }

}