* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
body {
    font-size: 1.1em;
    background: #111111;
    margin: 0;
    padding: 0;
    color: white;
}

.ascii-title {
    margin: 0 auto;
    font-size: .5em;
}

.gallows {
    margin: 0 auto;
    display: block;
    font-size: 1.0em;
    /* border: 1px solid red; */

}

#responseOutput {
    /* border: 1px solid red; */
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    
    /* text-decoration: underline; */
    /* text-align: center; */
}

pre {


}

#letters {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    
}

#showKey {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

#scoreDisplay {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    
    /* border: 1px solid red; */
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.gamebutton {
    border: 1px solid white;
    color: #f1f1f1;
    text-decoration: none;
    padding: .4em;
    border-radius: .2em;
    margin: 0 auto;
    /* display: block; */

}

.extended {
    padding: .4em 2.5em .4em 2.5em;
}

#link-container {
    display: block;
    margin: 0 auto;
    text-align: center;

}

#gamestateDisplay {
    border: 3px double #f1f1f1;
    /* border: 2px dotted #000; */
    max-width: 35vw;
    min-height: 30vh;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    display: block;
}